<div class="login">
  <div class="well">

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login-body ">

          <!-- Div Panel -->
          <div class="panel panel-success" >

            <!-- End panel heading -->

              <!-- Panel body -->
              <div class="panel-body" >

                <form class="form-horizontal" [formGroup]="angForm" novalidate>

                  <!-- Username -->
                  <div class="input-group input-username">
                    <span class="input-group-addon "><i class="fa fa-user"></i></span><input type="text" class="form-control input-login" name="username" formControlName="username" placeholder="username" autofocus #username>
                  </div>

                  <!-- Password -->
                  <div class="input-group input-password">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span><input type="password" class="form-control input-login" name="password" formControlName="password"  placeholder="password" #password>
                  </div>
<!--
                  <div class="input-group checkbox-remember">
                    <div class="checkbox">
                      <label><input id="login-remember" type="checkbox" name="remember" value="1"> Remember me</label>
                    </div>
                  </div>
                -->
                  <div class="form-group login-button">
                    <div class="col-sm-12 controls">
                      <button (click)="save('red')" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-info  login-button-form">Login</button>

                    </div>
                  </div>

                </form><!-- ENd form -->
              </div><!-- ENd panel body -->
          </div><!-- End panel group -->

        </div><!-- End col div -->
           <!-- Panel Heading -->
      <div class="panel-heading login-heading-botton">
          <div class="panel-title nav-wrapper ">Sign In</div>
        </div>
  </div>
</div><!-- End container -->
